<div id="wrap">

  <!-- MAIN-WRAPPER -->
  <div class="main-wrapper">

    <!-- content -->
    <div class="content">
      <div class="col-lg-12">
        <div class="row">

          <div class="circle-left-ctn col-lg-8 col-md-8">
            <div class="row">
              <ul class="circle-list-ul clearfix" id="circle-list-ul">

                <li class="col-lg-4 col-md-4 circle-card left-drop-card">
                  <div class="circle-bdr">
                    <div class="circle-list-item drag-cursor" rel="4218,a17bee64-8593-436e-a2f8-599a626370df">
                      <span class="fa fa-times  close-btn"></span>
                      <div class="list-row">
                        <span class="item-cell" href="#">
        							<img src="../../assets/images/photo.png" alt="" width="100%" height="100%">
      							</span>
                        <div class="item-cell item-dec">
                          <h5>Friend Name</h5>
                          <span class="level-icon"><i class="fa fa-star"></i> <i class="fa fa-trophy"></i>
                                    	<i class="fa fa-dot-circle-o"></i>
                                  	</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="col-lg-4 col-md-4 circle-card left-drop-card">
                  <div class="circle-bdr">
                    <div class="circle-list-item drag-cursor" rel="4218,a17bee64-8593-436e-a2f8-599a626370df">
                      <span class="fa fa-times  close-btn"></span>
                      <div class="list-row">
                        <span class="item-cell" href="#">
        							<img src="../../assets/images/photo.png" alt="" width="100%" height="100%">
      							</span>
                        <div class="item-cell item-dec">
                          <h5>Friend Name</h5>
                          <span class="level-icon"><i class="fa fa-star"></i> <i class="fa fa-trophy"></i>
                                    	<i class="fa fa-dot-circle-o"></i>
                                  	</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="col-lg-4 col-md-4 circle-card left-drop-card">
                  <div class="circle-bdr">
                    <div class="circle-list-item drag-cursor" rel="4218,a17bee64-8593-436e-a2f8-599a626370df">
                      <span class="fa fa-times  close-btn"></span>
                      <div class="list-row">
                        <span class="item-cell" href="#">
        							<img src="../../assets/images/photo.png" alt="" width="100%" height="100%">
      							</span>
                        <div class="item-cell item-dec">
                          <h5>Friend Name</h5>
                          <span class="level-icon"><i class="fa fa-star"></i> <i class="fa fa-trophy"></i>
                                    	<i class="fa fa-dot-circle-o"></i>
                                  	</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="col-lg-4 col-md-4 circle-card left-drop-card">
                  <div class="circle-bdr">
                    <div class="circle-list-item drag-cursor" rel="4218,a17bee64-8593-436e-a2f8-599a626370df">
                      <span class="fa fa-times  close-btn"></span>
                      <div class="list-row">
                        <span class="item-cell" href="#">
        							<img src="../../assets/images/photo.png" alt="" width="100%" height="100%">
      							</span>
                        <div class="item-cell item-dec">
                          <h5>Friend Name</h5>
                          <span class="level-icon"><i class="fa fa-star"></i> <i class="fa fa-trophy"></i>
                                    	<i class="fa fa-dot-circle-o"></i>
                                  	</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="col-lg-4 col-md-4 circle-card left-drop-card">
                  <div class="circle-bdr">
                    <div class="circle-list-item drag-cursor" rel="4218,a17bee64-8593-436e-a2f8-599a626370df">
                      <span class="fa fa-times  close-btn"></span>
                      <div class="list-row">
                        <span class="item-cell" href="#">
        							<img src="../../assets/images/photo.png" alt="" width="100%" height="100%">
      							</span>
                        <div class="item-cell item-dec">
                          <h5>Friend Name</h5>
                          <span class="level-icon"><i class="fa fa-star"></i> <i class="fa fa-trophy"></i>
                                    	<i class="fa fa-dot-circle-o"></i>
                                  	</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="col-lg-4 col-md-4 circle-card left-drop-card">
                  <div class="circle-bdr">
                    <div class="circle-list-item drag-cursor" rel="4218,a17bee64-8593-436e-a2f8-599a626370df">
                      <span class="fa fa-times  close-btn"></span>
                      <div class="list-row">
                        <span class="item-cell" href="#">
        							<img src="../../assets/images/photo.png" alt="" width="100%" height="100%">
      							</span>
                        <div class="item-cell item-dec">
                          <h5>Friend Name</h5>
                          <span class="level-icon"><i class="fa fa-star"></i> <i class="fa fa-trophy"></i>
                                    	<i class="fa fa-dot-circle-o"></i>
                                  	</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="col-lg-4 col-md-4 circle-card left-drop-card">
                  <div class="circle-bdr">
                    <div class="circle-list-item drag-cursor" rel="4218,a17bee64-8593-436e-a2f8-599a626370df">
                      <span class="fa fa-times  close-btn"></span>
                      <div class="list-row">
                        <span class="item-cell" href="#">
        							<img src="../../assets/images/photo.png" alt="" width="100%" height="100%">
      							</span>
                        <div class="item-cell item-dec">
                          <h5>Friend Name</h5>
                          <span class="level-icon"><i class="fa fa-star"></i> <i class="fa fa-trophy"></i>
                                    	<i class="fa fa-dot-circle-o"></i>
                                  	</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="col-lg-4 col-md-4 circle-card left-drop-card">
                  <div class="circle-bdr">
                    <div class="circle-list-item drag-cursor" rel="4218,a17bee64-8593-436e-a2f8-599a626370df">
                      <span class="fa fa-times  close-btn"></span>
                      <div class="list-row">
                        <span class="item-cell" href="#">
        							<img src="../../assets/images/photo.png" alt="" width="100%" height="100%">
      							</span>
                        <div class="item-cell item-dec">
                          <h5>Friend Name</h5>
                          <span class="level-icon"><i class="fa fa-star"></i> <i class="fa fa-trophy"></i>
                                    	<i class="fa fa-dot-circle-o"></i>
                                  	</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="col-lg-4 col-md-4 circle-card left-drop-card">
                  <div class="circle-bdr">
                    <div class="circle-list-item drag-cursor" rel="4218,a17bee64-8593-436e-a2f8-599a626370df">
                      <span class="fa fa-times  close-btn"></span>
                      <div class="list-row">
                        <span class="item-cell" href="#">
        							<img src="../../assets/images/photo.png" alt="" width="100%" height="100%">
      							</span>
                        <div class="item-cell item-dec">
                          <h5>Friend Name</h5>
                          <span class="level-icon"><i class="fa fa-star"></i> <i class="fa fa-trophy"></i>
                                    	<i class="fa fa-dot-circle-o"></i>
                                  	</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

              </ul>
            </div>
          </div>
          <div class="circles-ctn" id="affixCircles">
            <div class="circle-right-ctn ">

              <ul class="circle-drop-ul clearfix">

                <li class="col-lg-4 m-b10 circle-popover" id="friends">
                  <div class="circle-ui circle-drop">
                    <span class="dorp-action delete">1</span>
                    <span class="dorp-action add-new">1</span>
                    <div class="circle-drop-inner">
                      <div class="inner">
                        <h5>Friends</h5>
                        <span class="members">0</span>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="col-lg-4 m-b10 circle-popover" id="private">
                  <div class="circle-ui circle-drop">
                    <span class="dorp-action delete">1</span>
                    <span class="dorp-action add-new">1</span>
                    <div class="circle-drop-inner">
                      <div class="inner">
                        <h5>Private</h5>
                        <span class="members">0</span>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="col-lg-4 m-b10 circle-popover family" id="family">
                  <div class="circle-ui circle-drop">
                    <span class="dorp-action delete">1</span>
                    <span class="dorp-action add-new">1</span>
                    <div class="circle-drop-inner">
                      <div class="inner">
                        <h5>Family</h5>
                        <span class="members">0</span>
                      </div>
                    </div>
                  </div>
                </li>

              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!--/ content -->

  </div>
  <!--/ MAIN-WRAPPER -->


</div>
