<div class="parent">
  <label for="hy">There are plenty of events along the lifetime of a drag event. <a href="https://github.com/bevacqua/dragula#drakeon-events">all of them</a> in the docs!</label>
  <div class="wrapper">
    <div class="container" [dragula]="'second-bag'" [dragulaModel]='origin'>
      <div *ngFor="let text of origin" [innerHtml]='text'></div>
    </div>
    <div class="container" [dragula]="'second-bag'" [dragulaModel]='target'>
      <div *ngFor="let text of target" [innerHtml]='text'></div>
    </div>
  </div>
</div>
