<div id="wrap">

  <!-- MAIN-WRAPPER -->
  <div class="main-wrapper">

    <!-- content -->
    <div class="content">
      <div class="col-lg-12">
        <div class="row">

          <div class="circle-left-ctn col-lg-8 col-md-8">
            <div class="row">

              <!-- Items to drag -->
              <ul class="circle-list-ul clearfix">

                <li class="col-lg-4 col-md-4 circle-card left-drop-card" *ngFor="let product of availableProducts" dnd-draggable
                  [dragData]="product" [dropZones]="circles">
                  <div class=" circle-bdr ">
                    <div class="circle-list-item drag-cursor ">
                      <span class="fa fa-times close-btn "></span>
                      <div class="list-row ">
                        <span class="item-cell " href="# ">
        							<img src="../../assets/images/photo.png " alt=" " width="100% " height="100% ">
      							</span>
                        <div class="item-cell item-dec ">
                          <h5>{{ product.name }}</h5>
                          <span class="level-icon "><i class="fa fa-star "></i> <i class="fa fa-trophy "></i>
                                    	<i class="fa fa-dot-circle-o "></i>
                                  	</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

              </ul>
            </div>
          </div>

          <div class="circles-ctn " style="background-color: red ">
            <div class="circle-right-ctn ">

              <!-- Circles -->
              <ul class="circle-drop-ul clearfix ">

                <li class="col-lg-4 m-b10 circle-popover " *ngFor="let circle of circles; let i = index" dnd-droppable (onDropSuccess)="addToBasket($event)"
                  [dropZones]="[circle]">
                  <div class="circle-ui circle-drop ">
                    <span class="dorp-action delete ">1</span>
                    <span class="dorp-action add-new ">1</span>
                    <div class="circle-drop-inner ">
                      <div class="inner ">
                        <h5>{{ circle }}</h5>
                        <span class="members ">0</span>
                      </div>
                    </div>

                    <ul class='circle-drop-item ui-helper-reset clearfix'>

                      <li class="col-lg-4 col-md-4 circle-card ui-draggable ui-draggable-handle dingdon" *ngFor="let product of shoppingBasket"
                        [style.left]="product.style.left" [style.top]="product.style.top" [style.width]="product.style.width"
                        [style.opacity]="product.style.opacity">

                        <div class="circle-bdr ">
                          <div class="circle-list-item drag-cursor ">
                            <span class="fa fa-times close-btn "></span>
                            <div class="list-row ">
                              <span class="item-cell " href="# ">
                                    <img  alt=" " height="100% " src="../../assets/images/photo.png " width="100%" style="display: inline-block; height: 22px; ">
                                </span>
                              <div class="item-cell item-dec ">
                                <h5>{{ product.name }}</h5>
                                <span class="level-icon "><i  class="fa fa-star "></i> <i  class="fa fa-trophy "></i>
                                        <i  class="fa fa-dot-circle-o "></i>
                                  </span>
                              </div>
                            </div>
                          </div>
                        </div>

                      </li>

                    </ul>

                  </div>
                </li>

              </ul>
            </div>

          </div>

        </div>
      </div>
    </div>
    <!--/ content -->

  </div>
  <!--/ MAIN-WRAPPER -->


</div>
