
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<title>The Circle View 1.0</title>

		<link rel="stylesheet" href="./css/CircleView.css" type="text/css" />

		<script src="js/tween/TimelineLite.js"></script>
		<script src="js/tween/EasePack.js"></script>
		<script src="js/tween/TimelineMax.js"></script>
		<script src="js/tween/TweenMax.js"></script>
		<script src="http://code.jquery.com/jquery-1.7.1.js"></script>
		<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

		<script type="text/javascript">
			//config -
			//simulate this db to be in your server--------

			objectDatabase=[{title:"Hello",image:"",url:""},
			             {title:"Sachin",image:"https://lh6.googleusercontent.com/-gFSf20CDQos/UKyfK_76ZeI/AAAAAAAAAMc/yTWayUoqA1k/s128/sachin.jpg",url:""},
			             {title:"Batman",image:"https://lh5.googleusercontent.com/-4TaI4pvaUzo/UMX_RLSLFZI/AAAAAAAAAc4/2OADM-Izh8E/s800/bat.png",url:""},
			             {title:"Android in Rain",image:"https://lh3.googleusercontent.com/-CFI2PBn3xaE/UMX_RUigPTI/AAAAAAAAAc8/VApDqnIDvEQ/s800/android_bot.png",url:""},
			             {title:"Delhi Belli",image:"https://lh6.googleusercontent.com/-SkmrjH6gxjQ/UMX_UEpoWoI/AAAAAAAAAdQ/VPrPpyxfVLE/s800/db.png",url:""},
			             {title:"Code Handling",image:"https://lh3.googleusercontent.com/-jr-SH35yoRw/UL4ANu3ifYI/AAAAAAAAAaA/1-VHYf-Dvgo/s800/ch.png",url:"http://www.codehandling.com"}];

			//------------------------------------------------
		</script>

	</head>

	<body>
		<div>

			<h1>The Circle View 1.0</h1>

			<div id="objectBox">
				<div class="corner-stamp" id="add_box">&nbsp;+ add new <br/>object</div>
			</div>

			<div id="circleBox">
				<div class="corner-stamp" id="show_all">show all <br/>objects</div>
			</div>

			<div class="mainCircleContainer" id="1" style="top:300px; left:400px;">
			<!-- <div id="dragWindow"></div>-->
				<div id="s1" class="smallCircle">
					<label id="circleLabel">Web Links</label>
				</div>
				<div id="b1" class="bigCircle">
				</div>
			</div>

			<div class="mainCircleContainer" id="2" style="top:300px; left:600px;">
				<div id="s2" class="smallCircle">
					<label id="circleLabel">Stars</label>
				</div>
				<div id="b2" class="bigCircle">
				</div>
			</div>

			<div class="mainCircleContainer" id="3" style="top:300px; left:800px;">
				<div id="s3" class="smallCircle">
					<label id="circleLabel">Movies</label>
				</div>
				<div id="b3" class="bigCircle">
				</div>
			</div>

		</div>


	<script src="./js/masonry/jquery.masonry.min.js"></script>
	<script src="./js/masonry/jquery.masonry.corner.stamp.js"></script>
	<script src="js/circleview/CircleView.js"></script>

	</body>
</html>
