<div class="tiny-circle">
  <div class="viewport">
    <ul class="overview">
      <li>
        <a href="http://www.baijs.com"><img src="../../assets/images/hdr3.jpg" /></a>
      </li>
      <li>
        <a href="http://www.baijs.com"><img src="../../assets/images/hdr2.jpg" /></a>
      </li>
      <li>
        <a href="http://www.baijs.com"><img src="../../assets/images/hdr1.jpg" /></a>
      </li>
      <li>
        <a href="http://www.baijs.com"><img src="../../assets/images/hdr4.jpg" /></a>
      </li>
      <li>
        <a href="http://www.baijs.com"><img src="../../assets/images/hdr5.jpg" /></a>
      </li>
    </ul>
  </div>

  <div class="dot"></div>
  <div class="overlay"></div>
  <div class="thumb"></div>
</div>
